/* npx @tailwindcss/cli -i ./src/styles/input.css -o ./src/styles/output.css --watch
 */

@media (max-width: 768px) {
  main .weather-card {
    width: 80%;
  }
}
body {
  overflow: hidden;
  min-height: 100vh;
  min-height: 100vh;
  background:
    radial-gradient(
      circle at 20% 20%,
      rgba(255, 255, 255, 0.35),
      transparent 30%
    ),
    linear-gradient(135deg, #56ccf2, #2f80ed);
}

/* body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(114, 141, 199, 0.302);
  pointer-events: none;
} */
header {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgba(32, 85, 119, 0.29);
}
form {
  width: 40%;
  display: flex;
  flex-direction: column;
}
form span {
  font-weight: 400;
  color: #282828;
}
form input {
  width: 100%;
  font-size: 18px;
  color: #f2f2f2;
  transition: 0.4px;
}
input:focus {
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid rgba(234, 235, 207, 0.831);
}
main {
  margin-top: 30px;
  padding: 20px;
}
main .weather-card {
  overflow-y: auto;
  padding: 20px;
  border: 1px solid #e0e1e07e;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: 200px;

  background: linear-gradient(270deg, #edeef296, #e6f8df8a, #ffdffd8f);
  background-size: 600% 600%;
  animation: gradient 12s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
main .weather-card > div {
  display: flex;
}
main .weather-card > div > span {
  margin-right: 5px;
}
.message {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  color: rgb(245, 245, 245);
  font-size: 25px;
}
